.card {
    background-color: #222;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    width: 150px;
    overflow: hidden;
  }
  
  .image {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }
  